<html>
<head>
  <title>
    WikiCourse
  </title>
  <%= stylesheet_link_tag 'course_page', 'media' => 'all' %>
</head>
<body>
<div class="landscape">
  <div class = "side">
    左侧副栏
  </div>
  <div class = "wrap">
    <div class = "main">右侧主栏</div>
  </div>

</div>
</body>
</html>