// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#menu {
  height:100%;
  width: 20%;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #E7ECEF;
}
#menu-info {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 0;
}
ul#track-menu {
  margin:0px;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}
#back {
  position: fixed;
  font-size:20px;
  bottom: 100px;
  left: 20px;
}
#logo {
  font-family: Georgia, serif;
  font-size: 40px;
  color: #274C77;
  position: fixed;
  bottom: 10px;
  left: 20px;
}
.track-label a{
  display: block;
  height:50px;
  color:black;
  padding: 8px 16px;
  margin:0;
  background-color:#E7ECEF;
  text-decoration: none;
}
.track-label a:hover {
  color:white;
  background-color:#6096BA;
  text-decoration: none;
}
.main {
  position:fixed;
  left:20%;
  margin-top: 50px;
  margin-left: 40px;
}
.main-detail {
  position:fixed;
  left:20%;
  margin-top: 100px;
  margin-left: 80px;
}
.comment-table {
  position:static;
}
.detail-page-title {
  margin-bottom: 40px;
}
.comment-title {
  margin-top: 40px;
}
.select-box {
  display: inline-block;
  margin:10px;
}
.select-box a{
  list-style: none;
  padding: 10px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(139, 139, 139, 0.3);
  color: #8B8C89;
  border-radius: 25px;
  white-space: nowrap;
  text-decoration: none;
}
.select-box a:hover {
  list-style: none;
  padding: 10px;
  display: inline-block;
  background-color: #6096BA;
  border: 1px solid rgba(139, 139, 139, 0.3);
  color: white;
  border-radius: 25px;
  white-space: nowrap;
}
